{% load static %}
    <header class="header">
        <!-- nav Structure -->
        <div class="navbar-fixed">
            <nav>
                <div class="nav-wrapper">
                    <a href="{% url 'web:home' %}" class="brand-logo"><img class="logo" src="{% static 'img/logo.png' %}"></a>
                    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                    <ul id="nav-mobile" class="right hide-on-med-and-down sidenav-color">
                              <!-- Dropdown Trigger -->
                        <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">PROGRAMAS<i class="material-icons right">arrow_drop_down</i></a></li>
                        <li><a href="movies.html">AUSPICIOS</a></li>
                        <li><a href="series.html">EN VIVO</a></li>
                        <li><a href="prices.html">CONTÁCTENOS</a></li>
                        <li>
                            <form>
                                <div class="input-field">
                                <input id="search" type="search" required>
                                <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                                <i class="material-icons">close</i>
                                </div>
                            </form>  
                        </li>
                    </ul>
                </div>
            </nav>

        </div>
        <!-- Responsive sidenav Structure -->
        <ul class="sidenav sidenav-color" id="mobile-demo">
              <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">PROGRAMAS<i class="material-icons right">arrow_drop_down</i></a></li>
              <li><a href="movies.html">AUSPICIOS</a></li>
              <li><a href="series.html">EN VIVO</a></li>
              <li><a href="prices.html">CONTÁCTENOS</a></li>
            <nav>
                <div class="nav-wrapper">
                    <form>
                    <div class="input-field">
                        <input id="search" type="search" required>
                        <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                        <i class="material-icons">close</i>
                    </div>
                    </form>
                </div>
            </nav>
        </ul>


        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a href="{% url 'web:home' %}" class="brand-logo"><img class="logo" src="{% static 'img/logo.png' %}"></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Dropdown
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
              </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
          </div>
        </nav>
    </header>

    <script type="text/javascript">
    $(".dropdown-trigger").dropdown();
    </script>