.footer-bs {
    background-color: #3c3d41;
    padding: 60px 40px;
    color: rgba(255,255,255,1.00);
    margin-bottom: 0px;
    border-bottom-right-radius: 6px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 6px;
}
img.logo__footer {
    width: 20%;
}
span.glyphicon.glyphicon-envelope {
    font-size: 15px;
}
a.dropdown-item {
    color: white;
    font-weight: 900;
}
.dropdown-menu.show {
    background-color: #000000de;
    border: 1px solid white;
}
.footer-bs .footer-brand, .footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { padding:10px 25px; }
.footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { border-color: transparent; }
.footer-bs .footer-brand h2 { margin:0px 0px 10px; }
.footer-bs .footer-brand p { font-size:12px; color:rgba(255,255,255,0.70); margin-top: 2em; }

.footer-bs .footer-nav ul.pages { list-style:none; padding:0px; }
.footer-bs .footer-nav ul.pages li { padding:5px 0px;}
.footer-bs .footer-nav ul.pages a { color:rgba(255,255,255,1.00); font-weight:bold; text-transform:uppercase; }
.footer-bs .footer-nav ul.pages a:hover { color:rgba(255,255,255,0.80); text-decoration:none; }
.footer-bs .footer-nav h4 {
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom:10px;
}

.footer-bs .footer-nav ul.list { list-style:none; padding:0px; }
.footer-bs .footer-nav ul.list li { padding:5px 0px;}
.footer-bs .footer-nav ul.list a { color:rgba(255,255,255,0.80); }
.footer-bs .footer-nav ul.list a:hover { color:rgba(255,255,255,0.60); text-decoration:none; }

.footer-bs .footer-social ul { list-style:none; padding:0px; }
.footer-bs .footer-social h4 {
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.footer-bs .footer-social li { padding:5px 4px;}
.footer-bs .footer-social a { color:rgba(255,255,255,1.00);}
.footer-bs .footer-social a:hover { color:rgba(255,255,255,0.80); text-decoration:none; }

.footer-bs .footer-ns h4 {
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom:10px;
}
.footer-bs .footer-ns p { font-size:12px; color:rgba(255,255,255,0.70); }

@media (min-width: 768px) {
    .footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { border-left:solid 1px rgba(255,255,255,0.10); }
}


/**seccion slider image princpal**/


.image-caption {
    z-index: 2;
    background: linear-gradient(to bottom,rgba(16,16,16,0) 0,rgba(16,16,16,.8) 50%,rgba(16,16,16,.8) 100%);
    width: 100%;
    height: 25%;
}

h6.titulo-pelicula {
    color: white;
    padding: 4% 5%;
    font-size: 11px;
    margin: 0;
    font-weight: 900;
}
/**/
.navbar-light .navbar-nav .active>.nav-link {
    color: rgb(255, 156, 0)!important;
}
.navbar-light .navbar-nav .nav-link {
    color: #fff !important;
}
input.form-control.mr-sm-2 {
    margin: 0;
}
section#background {
    padding: 0% 14% 4% 14%;
}
a.navbar-brand {
    width: 5%;
}
.bg-dark {
    background-color: #00000069 !important;
}
section#demos-top {
    background: black;
    margin: -5% 0;
    position: relative;
}
.contenedor {
    background: black;
    margin: -5% 2% 5% 2%;
    position: relative;
}
.contenedor__capitulo {
    margin: 5%;
    position: relative;
}
section#demos1 {
    margin: 1% 0%;
}
h2.titulo_compartenos {
  text-align: center;
  color: #fff;
  font-size: 15px;
}
.icons-shared {
  display: table;
  margin: auto;
}

.item {
  height: 100%;
  width: 100%;
  background-position: 50% 50%;
  background-size: cover;
  position: absolute;
}
.image-content {
  width: 100%;
  background-position: 50% 50%;
  background-size: cover;
  position: relative;
}

/**seccion capitulos**/
.item-capitulo {
    width: 240px;
    float: left;
    margin-left: 20px;
}
.image-caption-capitulo {
    z-index: 2;
    background: linear-gradient(to bottom,rgba(16,16,16,0) 0,rgba(16,16,16,.8) 50%,rgba(16,16,16,.8) 100%);
    width: 100%;
}
h6.titulo-capitulo {
    color: white;
    padding: 5% 5%;
    text-transform: uppercase;
    font-size: 15px;
}
p.numeracion {
    color: white;
    font-size: 14px;
}
p.white-text {
    color: white;
    font-size: 12px;
}
.white-text.texto_fecha {
    margin-top: 30px;
}
h3.title-movie {
    text-align: center;
    font-weight: 900;
    text-transform: uppercase;
    color: #d68e1d;
}


/* Style the tab */
.tab {
  overflow: hidden;
  text-align: center;

}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
 color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 10px 20px;
  border-top: none;
}

img.logo {
    width: 70%;
}
.img_productora {
    width: 50%;
    margin: auto;
}
img.logo__productora {
    width: 100%;
}
.sidenav-color li a:hover:not(.login) {
    color: #ff9e00 !important;
}
nav ul a {
    font-size: 13px !important;
}

.video__index {
    margin-top: 0%;
}
.sidenav-overlay{
    background-color: rgba(0,0,0,0)!important;
    opacity: 0;
}
button.owl-prev {
    position: absolute;
    top: 10%;
    left: 0%;
  }
button.owl-next {
    position: absolute;
    top: 10%;
    left: 98%;
  }
.owl-theme .owl-nav [class*=owl-]:hover {
    background: none;
    color: #FFF;
    text-decoration: none;
  }
video#my_video {
    width: 100%;
  }
html {
    background: black;
  }
.header{
    position: absolute;
    z-index: 2;
  }
nav {
    background-color: rgba(0, 0, 0, 0);
    box-shadow: none;
  }
.brand-logo{
    left: 2rem;
  }

.sidenav-color li a:hover:not(.login){
    color:#4dd0e1;
  }
h4 {
    text-align: center;
    color: white;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-transform: uppercase;
  }
h4.fibra {
    padding-top: 0px;
    margin-top: 1%;
  }
.owl-item.active {
  width: 300px;
  height: 300px;
  }
.row {
    margin-right: auto !important;
    margin-left: auto !important;
}
.btn-outline-success {
    color: #f89943 !important;
    border-color: #f89943 !important;
}
.btn-outline-success:hover {
    background: #f89943 !important;
    color: #fff !important;
    border-color: #000 !important;
  }
  .btn-outline-success:not(:disabled):not(.disabled).active:focus,
  .btn-outline-success:not(:disabled):not(.disabled):active:focus,
  .show>.btn-outline-success.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 129, 0, 0.5)!important;

}
.btn-outline-success:not(:disabled):not(.disabled).active, .btn-outline-success:not(:disabled):not(.disabled):active, .show>.btn-outline-success.dropdown-toggle {
    background: #f89943 !important;
    color: #fff !important;
    border-color: #000 !important;
}

/*social bar*/
    .icon-bar {
      position: fixed;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      z-index: 99;
    }

    .icon-bar a {
      display: block;
      text-align: center;
      padding: 16px;
      transition: all 0.3s ease;
      color: white;
      font-size: 20px;
    }

    .icon-bar a:hover {
        background-color: #000;
        background-image: linear-gradient(-135deg,#000000,#000000,#000000);
    }

    .facebook {
      background: #3B5998;
      color: white;
    }

    .instagram {
      background-image: linear-gradient(-135deg,#1400c8,#b900b4,#f50000);
      color: white;
    }

    .youtube {
      background: #bb0000;
      color: white;
    }
/**/
    span {
      font-size: 100px;
      color: #ffc107 !important;
    }
    button.owl-prev {
      position: absolute;
      top: 10%;
      left: -3.5%;
    }
    button.owl-next {
      position: absolute;
      top: 10%;
      left: 100%;
    }
    .nav-wrapper .input-field input[type=search] {
      width: calc(100% - 7rem) !important;
      display: inline !important;
      height: 3rem !important;
    }


@media only screen and (max-width: 3000px){
  .owl-stage {
    height: 350px;
  }
}
@media only screen and (max-width: 1600px){
  .owl-stage {
    height: 300px;
  }
}
@media only screen and (max-width: 992px){
  img.logo {
      width: 30%;
      margin: 0 38%;
  }
  nav .nav-wrapper {
      background: #eb9100;
  }
}

@media only screen and (max-width: 600px) {
    button.owl-next {
        position: absolute;
        top: 25%;
        left: 90%;
    }
    a.navbar-brand {
      width: 25%;
    }
    button.navbar-toggler.burger {
      color: white;
      border-color: rgb(255, 255, 255);
      background: #ff9a43;
    }
    button.owl-prev {
        position: absolute;
        top: 25%;
        left: 0%;
    }
    section#background {
        padding: 20% 4% 10% 4%;
    }
    img.logo {
        width: 50%;
        margin: 0 30%;
    }
    img.logo__footer {
        width: 50%;
        margin: 0px 50px;
    }
    .icon-bar {
        display: none;
    }
    .navbar-toggler-icon {
        font-size: 20px;
    }
    .row {
      margin-right: 0 !important;
      margin-left: 0 !important;
  }
}
